.input {
    height: 36px;
    border: 1px solid var(--border-color);
    outline: unset;
    border-radius: 4px;
    padding: 0 12px;
    width: 100%;
}

.search-icon.left {
    left: 8px;
}

.input:focus {
    border-color: var(--primary-color);
}

.no-change-border{
    border-color: var(--border-color)!important;
}

.input--error {
    border-color: var(--error-color);
}

.input:hover{
    border-color: var(--primary-color);
}

.input-20{
    width: 20px;
    height: 20px;
}

input[type=checkbox] + label {
  display: block;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 2px solid #686c7b;
    border-radius: 0.2em;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding-left: 0.22em;
    padding-bottom: 0.9em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    font-size: 13px;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #0c9cdd;
  border: 0.1em solid #0c9cdd;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border: 0.1em solid #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  opacity: .5;
  border: 0.1em solid #0c9cdd;
}